@model List<Message>

<a href="/">Home</a>

<a href="logout">Log Out</a>
<h2>Welcome to the Cool Kids Wall!</h2>


<partial model= "new Message(){}" name="_WallPartial"></partial>

@foreach(var m in Model)
{
    <h5>@m.Creator.FirstName @m.CreatedAt</h5>
    <p>@m.MesContent</p>
    @foreach(var c in m.Comments)
    {
        <li>@c.ConContent</li>
    }
        

    
    <partial model= "new Comment(){MessageId = @m.MessageId}" name="_CommPartial"></partial>

}